.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}